/* 003049 blue
d62828 red
f77f00 orange
fcbf49 creamy yellow
eae2b7  light cream*/
body{
    background: #003049;
    color: #eae2b7;
}



/* PORTFOLIO */
.containerCard{
    display: grid;
    color: #eae2b7;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.projectCardContainer {
    margin-top: 3%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.projectCardContainer, .projectCardContainer img {
    max-width: 400px !important;

}
.projectCardContainer img{
    border-radius: 5%;
}
.linkDiv {
    display: flex;
    flex-direction: row;
    max-height: 26px;
}
.linkDiv a, .linkDiv p{
    font-size: 1em;
    display: flex;
    color: #eae2b7;
    margin: 3px;
    background: #d62828;
    border-radius: 10%;
    padding: 3px;
    padding-bottom: 4px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.linkDiv a:hover, .linkDiv p:hover{
    color: #fcbf49;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #003049);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 25px; */
    text-align: center;
    transition: 0.5s;
}
.projectCardContainer img{
    transition: transform 0.5s;
}
.projectCardContainer:hover img{
    transform: scale(1.1);
}
.projectCardContainer:hover .layer{
    height: 100%;
    transform: scale(1.1);
}



/* ABOUT */
#authorName{
    margin-top: 5%;
}
.lineBox{
    border-bottom: #d62828 solid 1px;
    width: auto;
}
#aboutText{
    margin-top: 3%;
}



/* NAVBAR */
ul a{
    background: #eae2b7 !important;
    border: #003049 solid 1px !important;
    border-radius: 10%;
    transition: 0.5s;
}
ul a:hover{
    transform: scale(1.1);
}

.bg-secondary {
    background: #fcbf49 !important;
}

.container-fluid {
    justify-content: flex-end !important;
}

.me-auto {
    margin-right: auto !important;
}



/* FOOTER */
footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 25px 0;
    background-color: #1c232d;
    font-weight: 300;
    margin-top: 20px;
}



/* MEDIA QUERIES */
@media (min-width: 420px) {

    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }
}

@media (max-width: 420px) {
    
    
    .projectCardContainer, .projectCardContainer img {
        max-width: 300px !important;

    }

    .containerCard{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 0;
        margin-top: 20px;
        margin-left: 5px;
    }
    .linkDiv a, .linkDiv p{
        font-size: .8em;
    }
}